@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Noto Sans", sans-serif; 
  color: #090909;
  scroll-behavior: smooth;
}

